/* Style for entire body */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

canvas {
  height: 900px;
/*Style for container*/
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

}
/* Style for the title */
h1 {
  text-align: center;
}

/* Style for all textboxes */
#box {
  height: 305px;
}

/* Style for all labels */
#label {
  font-size: medium;
}

/* Style for login page button */
#button {
  font-size: larger;
  background-color: #268144;
  border: 1px solid #268144;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 35px;
  cursor: pointer;
  width: 100%;
}

/*Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
  transition: 0.4s;
}

/*Go to home button styling*/
.go-home {
  position: absolute;
  top: 2.5%;
  left: 1%;
}

.github {
  position: absolute;
  top: 2.5%;
  right: 1%;
}

/*Container for flexbox styling for the charts*/
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Styling for horizontal bar chart*/
.horizontalbar-container {
  height: 50vh;
  width: 50%;
}

/*Styling for pie chart*/
.pie-container {
  height: 50vh;
  width: 50%;
}