/* Style for entire body */
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin: 0 auto;
  width: 500px;
}

/* Style for the title */
h1 {
  text-align: center;
}

/* Style for all textboxes */
#box {
  height: 35px;
}

/* Style for all labels */
#label {
  font-size: medium;
}

/* Style for all text in textboxes */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Style for all buttons */
button {
  font-size: larger;
  background-color: #268144;
  border: 1px solid #268144;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 35px;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}